*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}

.flex{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.nav{
    justify-content: space-between;
}

/*Nav menu*/
.header__logo{
  width: 112px;
  height: 70px;
  margin: 20px 0 5px 0px;
}

.header__mobile{
    display: none;
}

.header__item *{
    color:#F64D33;
    padding: 20px;
    font-weight: 500;
    font-size: 1.125em;
    background: none;
    border: none;
}

.header__item *:hover{
    text-decoration:underline;
}

.header__icon{
    width: 60px;
}

/*Banner*/
.main{
    justify-content: space-between;
    padding-bottom: 150px;
}

.main__leftcolumn{
    width:40%;
}

.main__leftcolumn *{
    padding-bottom: 20px;
}

h1{
    color:#10B4A9;
    font-weight: 600;
    font-size: 5em;
    line-height: 100%;
}

h3{
    color: #2E2E2E;
    font-weight: 300;
    font-size: 1.5em;
    width: 80%;
}

.main__link, .photos__link{
    text-decoration: none;
    color:white;
    background-color: #10B4A9;
    padding: 0.5em 2em;
    border-radius: 0.3em;
    font-size: 1.125em;
}

.main__link:hover, .photos__link:hover{
    box-shadow: 5px 5px 10px 2px #d6d6d6;
}

.main__img{
    width:40%;
    height: 35%;
}

/*Features*/
h2{
    font-weight: 600;
    color:#10B4A9;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 50px;
}

.features__column{
    border-radius: 25px;
    width: 30%;
    box-shadow: 10px 10px 20px 2px #d6d6d6;
    transition: 0.3s ease-in-out;
}

.features__column:hover{
    background-color: #10B4A9;
    
}

.features__column:hover .features__subtittle{
    color: white;
}

.features__column:hover .features__p{
    color: white;
}

.features{
    justify-content: space-between;
    padding-bottom: 150px;
}

.features__subtittle, .footer__tittle{
    font-weight: 600;
    color:#F64D33;
    font-size: 1.5em;
}


.features__p, .newsletter p, .footer__list{
    font-weight: 400;
    color:#2E2E2E;
    font-size: 1.125em;
}

.features__subtittle, .features__p{
    padding: 0 30px 25px;
}

.features img{
    width: 10%;
    margin: 2% 2% 0 88%;
}

.photos__images{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.photos__images *{
    width: 100%;
    padding-right: 5px;
}

.photos__link{
    float: right;
    margin: 10px 10px 0;
}

.photos{
    padding-bottom: 150px;
}

/*newsletter*/
.newsletter{
    padding-bottom: 150px;
    justify-content: center;
}

.newsletter img{
    width:200px;
    padding-right: 50px;
}

.newsletter input{
    background-color: #d6d6d6;
    border:none;
    border-radius: 5px 0 0 5px;
    padding: 2% 30% 2% 3%;
    font-family: "Montserrat", open sans-serif;
    font-weight: 300;
    color: #2E2E2E;
    font-size: 1.125em;
}

.newsletter button{
    background-color: #10B4A9;
    border:none;
    border-radius: 0 5px 5px 0;
    padding: 2% 3%;
    font-family: "Montserrat", open sans-serif;
    font-weight: 500;
    color:#2E2E2E;
    cursor: pointer;
    font-size: 1.125em;
}
.newsletter__email{
    padding: 10px 0 2px 0;
}

.tyc *{
    margin: 2px;
}

form p{
    width: 60%;
}


/*footer*/
.footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.footer__list *{
    color: #2E2E2E;
}

.footer img{
    width: 8%;
    margin-right: 5px;
}