*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}

.flex{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.nav{
    justify-content: space-between;
}

/*Nav menu*/
.header__logo{
  width: 112px;
  height: 70px;
  margin: 20px 0 5px 0px;
}

.header__item *{
    color:#F64D33;
    padding: 20px;
    font-weight: 500;
}

.header__icon{
    width: 60px;
}

/*Banner*/
.main{
    justify-content: space-between;
    padding-bottom: 150px;
}

.main__leftcolumn{
    width:40%;
}

.main__leftcolumn *{
    padding-bottom: 20px;
}

h1{
    color:#10B4A9;
    font-weight: 600;
    font-size: 5em;
    line-height: 100%;
}

h3{
    color: #2E2E2E;
    font-weight: 300;
    font-size: 1em;
    width: 50%;
}

.main__link{
    text-decoration: none;
    color:white;
    background-color: #10B4A9;
    padding: 0.5em 2em;
    border-radius: 0.3em;
    font-size: 1em;
}

.main__img{
    width:40%;
    height: 35%;
}

/*Features*/
h2{
    font-weight: 600;
    color:#10B4A9;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 50px;
}

.features__column{
    border-radius: 25px;
    width: 30%;
    box-shadow: 10px 10px 10px 2px whitesmoke;
}

.features__column:hover{
    background-color: #10B4A9;
}

.features{
    justify-content: space-between;
    padding-bottom: 150px;
}

.features__subtittle{
    font-weight: 600;
    color:#F64D33;
    font-size: 1em;
}

.features__p{
    font-weight: 400;
    color:#2E2E2E;
    font-size: 0.9em;
}

.features__subtittle, .features__p{
    padding: 0 30px 25px;
}

.features img{
    width: 10%;
    margin: 2% 2% 0 88%;
}

/*photos*/

.photos *{
    width: 95%;
}

/*newsletter*/

/*footer*/

.footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.footer__tittle{
    font-weight: 600;
    color:#F64D33;
    font-size: 1em;
}

.footer__list{
    font-weight: 400;
    color:#2E2E2E;
    font-size: 0.9em;
}

.footer img{
    width: 8%;
    margin-right: 5px;
}

