*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.nav{
    justify-content: space-between;
}

.header__logo{
  width: 112px;
  height: 70px;
  margin: 20px 0 5px 50px;
}

.header__item *{
    color:#F64D33;
    padding: 20px;
    font-weight: 500;
}

.header__icon{
    width: 60px;
}

.main{
    display: flex;
    align-items: center;
}


.main__leftcolumn{
    width:40%;
    padding:0 2%;
}

h1{
    color:#10B4A9;
    font-weight: 600;
    font-size: 5em;
}

h3{
    color: #2E2E2E;
    font-weight: 300;
    font-size: 1em;
}

.main__link{
    text-decoration: none;
    color:white;
    background-color: #10B4A9;
    padding: 0.5em 2em;
    border-radius: 0.3em;
}

.main__img{
    width:40%;
    height: 35%;
}

h2{
    font-weight: 600;
    color:#10B4A9;
}

