/*368 tableta, 400 celulares, 320 celulares más peques*/

@media all and (max-width: 420px) {
    html, body{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    main, .features, newsletter, footer, .products, .newsletter__email{
        flex-direction: column;
    }
    
    header{
        padding: 20px 0;
    }

    .header__logo, .header__list, nav{
        display:none;
    }

    .header__mobile{
        display: flex;
        justify-content: space-around;
    }

    .header__mobile *{
        border: none;
        background: none;
    }

    .main, .features, .newsletter, .footer{
        padding-bottom: 60px;
    }

    .main__leftcolumn{
        width: 80%;
    }

    .main__leftcolumn, h1, h3{
        text-align: center;
    }

    h1{
        font-size: 1.875em;
    }

    h3{
        font-size: 0.875em;
        width: 100%;
    }

    .main__link{
        font-size: 1em;
    }

    .main__img{
        display: none;
    }

    h2{
        font-size: 1.375em;
        padding-bottom: 20px;
    }
    
    .features__subtittle{
        font-size: 1em;
    }
    
    .features__p, .newsletter p, .newsletter input, .newsletter button, .footer__list{
        font-size: 0.875em;
    }

    .features__column{
        width: 80%;
        padding-bottom: 20px;
    }

    .features__subtittle, .features__p{
        padding: 0 15px 20px;
    }


    .photos img{
        width: 100%;
    }

    .products {
        padding: 0 10%;
    }

    .products{
        padding-bottom: 60px;
    }

    .newsletter flex{
        padding: 0 10 0 10%;
    }

    .newsletter form{
        padding: 0 10% 0 10%;
    }

    .newsletter img{
        width:113px;
    }
    
    form p{
        width: 100%;
    }

    .newsletter__email *{
        width: 100%;
    }

    .newsletter input, .newsletter button{
        border-radius: 5px;
    }

    .newsletter input{
        margin-bottom: 5px;
    }

    .footer{
        padding-left: 10%;
    }
    
    .footer__tittle{
        font-size: 1em;
    }

    .footer img{
        width: 14px;
    }

    .footer__column{
        padding-bottom: 20px;
    }
    
}



