$montserrateFont: "Montserrat", open sans-serif;
$orangeColor: #F64D33;
$greenColor: #10B4A9;
$blackColor: #2E2E2E;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: $montserrateFont;
    margin-left: 40px;
    margin-right: 40px;
}

.flex{
    display:flex;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    color:$greenColor;
    font-weight: 600;
    font-size: 5em;
    line-height: 100%;
    margin-left: 100px;
}

h2{
    font-weight: 600;
    color:#10B4A9;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 50px; 
}

h3{
    color: $blackColor;
    font-weight: 300;
    font-size: 1.5em;
    width: 80%
}

.register{
    padding-top: 100px;    
    padding-bottom: 144px;

    &__tittle{
        font-weight: 600;
        color:$orangeColor;
        font-size: 1.5em;
    }

    &__psmall{
        font-size: 1em;
        color: $blackColor;
        font-weight: 400;
    }

    &__linkAccount{
        text-decoration: underline;
        margin-left: 5px;
    }

    &__container{
        border-radius: 0 0 25px 25px;
        box-shadow: 10px 10px 20px 2px #d6d6d6;  
        padding: 16px 45px 30px 45px;
        margin-left: 100px;
    }

    & form *, &__p{
        margin-bottom: 25px;
    }

    
    & input, &__link{
        border:solid $greenColor 1px;
        border-radius: 5px;
        font-family: $montserrateFont;
        font-weight: 300;
        font-size: 1.125em;
        padding: 14px 0 14px 10px;
        height: 40px;
        width: 442px;
    }
    
    &__tycp{
        font-size: 0.875em;
    }
    
    &__input{
        color:$blackColor;
    }

       
    &__submit{
        background-color: $greenColor;
        color:white;
    }

    &__link{
        text-align: center;
    }

    &__p{
        text-align: center;
        color: $blackColor;
    }

    &__otherEmails{
        flex-direction: column;
    }
}

